/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);

  display: flex; /* overall flex container to align items (logo, links, etc.) in a row */
  justify-content: space-between; /* pushes items apart by adding space in between flex items--items are now hugging sides of the header */ 
  padding: 8px; /* add some space between edge of header and header elements */
}

.links {
  display: flex; /* becomes its own flex container, aligns flex items (the list items/links) in a row by default */
  gap: 16px; /* adds space between links */
  margin: 0; /* get rid of default margin */
  padding: 0; /* get rid of default padding */
}

.right-items,
.left-items {
  display: flex; /*becomes its own flex container, aligns flex items together in a row by default */
  gap: 16px; /* adds space between the flex items/elements */
  align-items: center; /* centers the flex items vertically */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
}
